################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ClassRoomHelper/bin
/ClassRoomHelper/obj
*.user
/ClassRoomHelper.Library/bin
/ClassRoomHelper.Library/obj
/CRHBackstageHelper/bin
/CRHBackstageHelper/obj
/班级助手/bin
/班级助手/obj
/~$程序文档.docx
/DataAnalyser/bin/Release
/DataAnalyser/obj/Release
