<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClassRoomHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.2400.0.34" newVersion="17.2400.0.34" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Core.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.2400.0.34" newVersion="17.2400.0.34" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <ClassRoomHelper.Properties.Settings>
            <setting name="TargetDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopTool_AutoShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopTool_ShowCalc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopTool_ShowScissors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMgr_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMgr_ShowDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>AllException</value>
            </setting>
            <setting name="DebugEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResortMode" serializeAs="String">
                <value>Daily</value>
            </setting>
            <setting name="StartAfterWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanMode" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="VoiceNameCallOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameCallOutPre" serializeAs="String">
                <value />
            </setting>
            <setting name="NameCallOutPost" serializeAs="String">
                <value>同学</value>
            </setting>
            <setting name="DesktopTool_ShowNameSelector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileExistedSolution" serializeAs="String">
                <value>Copy</value>
            </setting>
            <setting name="CollectMode" serializeAs="String">
                <value>ALL</value>
            </setting>
            <setting name="HelperWindowLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="ShowHelperWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesktopToolLoc" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="Timer_EventName" serializeAs="String">
                <value>高考</value>
            </setting>
            <setting name="Timer_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Timer_Date" serializeAs="String">
                <value>2020-06-07</value>
            </setting>
            <setting name="WallpaperEngine_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BugFixForSeewo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CICEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CICEncryptedSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CICCamera" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordData" serializeAs="String">
                <value>True</value>
            </setting>
        </ClassRoomHelper.Properties.Settings>
    </userSettings>
</configuration>