<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassRoomHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <ClassRoomHelper.Properties.Settings>
            <setting name="TargetDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopTool_AutoShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopTool_ShowCalc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopTool_ShowScissors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UMgr_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UMgr_ShowDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>AllException</value>
            </setting>
            <setting name="DebugEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResortMode" serializeAs="String">
                <value>Daily</value>
            </setting>
            <setting name="StartAfterWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanMode" serializeAs="String">
                <value>Never</value>
            </setting>
            <setting name="VoiceNameCallOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameCallOutPre" serializeAs="String">
                <value />
            </setting>
            <setting name="NameCallOutPost" serializeAs="String">
                <value>同学 , 请回答问题</value>
            </setting>
            <setting name="DesktopTool_ShowNameSelector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileExistedSolution" serializeAs="String">
                <value>Copy</value>
            </setting>
            <setting name="CollectMode" serializeAs="String">
                <value>ALL</value>
            </setting>
            <setting name="HelperWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowHelperWindow" serializeAs="String">
                <value>True</value>
            </setting>
        </ClassRoomHelper.Properties.Settings>
    </userSettings>
</configuration>